<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
  <script src="https://kit.fontawesome.com/aeb0daf92c.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="header-row">
  <a href="/">
    <div class="header-entry">Home</div>
  </a>
  <a href="/viewWords">
    <div class="header-entry">Manage</div>
  </a>
</div>

{% block content %}
{% endblock %}

</body>

</html>
