<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>

    <section class="main">
      <div class="band-name">
        <p>Your name is {{first}} {{second}}</p>
      </div>
      <div class="button">
        <form method="POST">
          <button class="get-button" type="Submit">Get a name!</button>
        </form>
      </div>
    </section>

  </body>

</html>
